<div class = "main-header">
  <div class = "header-content">
    <div class = "group-name">
      hogefuga
    </div>
    <div class = "chat-exit">
      <a href ="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class = "main-message">
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>