<div class = "side-header">
  <div>
    <%= link_to current_user.name, edit_user_path(current_user), class: "user-name" %>
  </div>
  <div class = "new-room">
    <a href = "#" >チャットを作成する</a>
  </div>
</div>
<div class = "side-rooms">
  <div class = "side-room">
    <div class = "room-name">
      <a href = "#" >room1</a>
    </div>
  </div>
  <div class = "side-room">
    <div class = "room-name">
      <a href = "#" >room2</a>
    </div>
  </div>  
</div>
